

<nav id="column-left">
    <div id="navigation"> Navigation</div>
    <ul id="menu" class="in">
        <li id="menu-dashboard" class="active"><a href="#">Dashboard</a> </li>
        @*<li id="menu-catalog">
            <a href='@Url.Action("Index", "AddContent")'> Add articles</a>
        </li>
        <li id="menu-catalog">
            <a href='@Url.Action("AddList", "AddContent")'> List of Contents</a>
        </li>*@
        <li id="menu-catalog">
            <a href='@Url.Action("List", "AddContent")'>User Comments List</a>
        </li>
        <li id="menu-catalog">
            <a href='@Url.Action("AddQuiz", "AddQuiz")'>Add Set</a>
        </li>
        <li id="menu-catalog">
            <a href='@Url.Action("AddQues", "AddQuiz")'> Add Question</a>
        </li>
        <li id="menu-catalog">
            <a href='@Url.Action("AddChoice", "AddQuiz")'>Add Choice</a>
        </li>
        <li id="menu-catalog">
            <a href='@Url.Action("AddAns", "AddQuiz")'> Add Answer</a>
        </li>
    </ul>
</nav>