@model PagedList.IPagedList<Demo.Crud.Mvc.Models.UserDetail>
@using PagedList.Mvc;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Edit</h3>
        </div>
        <div class="card-body">
            <h4>User Comments</h4>

            @using (Html.BeginForm("List", "AddContent", FormMethod.Get))
            {
                <p>
                    Name : @Html.TextBox("Name", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Filter" class="btn-primary" />
                </p>
            }

            <table class="display table table-hover table-responsive" border="1" id="EmpTable">
                <tr>
                    <th>
                        @Html.ActionLink("Name", "List", new { sortOrder = ViewBag.NameSortParm, CurrentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("Email", "List", new { sortOrder = ViewBag.NameSortParm, CurrentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("Phone", "List", new { sortOrder = ViewBag.NameSortParm, CurrentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("subject", "List", new { sortOrder = ViewBag.LastNameSortParm, CurrentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("Comments", "List", new { sortOrder = ViewBag.LastNameSortParm, CurrentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>Actions</th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                        </td>
                    </tr>
                }

            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)of @Model.PageCount

            @Html.PagedListPager(Model, Page => Url.Action("List", new { Page, sortOrder = ViewBag.CurrentSort, CurrentFilter = ViewBag.CurrentFilter }))

        </div>
    </div>
</div>











