@model Demo.Crud.Mvc.Models.UserDetail
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BibleLayout.cshtml";
}
@{ 
    var message = TempData["Alertmessage"] ?? string.Empty;
}

<h2>Contact Us</h2>
<div class="container" style="padding-top:10px;">
    @using (Html.BeginForm("Create", "ContactUs", FormMethod.Post))
    {
        <div class="form-group col-lg-3">
            @if (Model != null)
            {

                @Html.HiddenFor(model => model.UserID)
            }
            <label for="form-field-name">Name *</label>
            <!-- Name -->
            @Html.TextBoxFor(model => model.Name, new { @id = "BName", @class = "form-control", placeholder = "Name" })
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group col-md-6 col-lg-3">
            <label for="form-field-email">Email *</label>
            <!-- Email -->
            @Html.TextBoxFor(model => model.Email, new { @id = "Email", @class = "form-control", placeholder = "Email" })
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group col-md-6 col-lg-3">
            <label for="form-field-phone">Phone</label>
            <!-- Phone -->
            @Html.TextBoxFor(model => model.Phone, new { @id = "Phone", @class = "form-control", placeholder = "Phone Number" })

        </div>
        <div class="form-group col-md-6 col-lg-3">
            <label for="form-field-subject">Subject</label>
            @Html.TextBoxFor(model => model.subject, new { @id = "subject", @class = "form-control", placeholder = "Subject" })
            <!-- Subject -->
        </div>
        <div class="form-group col-md-6 col-lg-3">
            <label for="form-field-comments">Comments</label>
            <!-- Comment -->
            @Html.TextAreaFor(model => model.Comments, new { @id = "Comments", @class = "form-control", placeholder = "Comments" })

        </div>
        <hr />
        @*</div>
            </div>*@

    <!-- Send Button -->
        <div class="form-group col-md-6 col-lg-2">
            <input type="submit" name="Send" value="Send" id="create12" class="btn btn-primary"></input>
        </div>
    }
</div>

@*<script>
        $(document).ready(function () {
            $("#create12").click(function () {
                debugger;
                if ($("#BName").val() == "") {
                    alert("Please Enter  Name");
                }
                else {
                    debugger;
                    $.ajax(
                    {
                        url: 'ContactUs/Create',
                        type: "POST",
                        data: {
                            Name: $("#BName").val(),
                            Email: $("#Email").val(),
                            Phone: $("#Phone").val(),
                            subject: $("#subject").val(),
                            Comments: $("#Comments").val()
                        }
                    });
                    alert('Comment Send Succsesfully');
                    $("#UserName").val("");
                    $("#ProductName").val("");
                    window.location.reload();
                }
            });
        });
    </script>*@
<script>
    $(document).ready(function () {
        debugger;
        var message = '@message';
        if (message)
        {
            alert(message);
        }
    });
</script>